.font-secondary {
  font-family: $font-secondary !important;
  margin-bottom: 3rem;
}

html, body, #root {
  //width: 100%;
  //height: 100%;
  //  //display: flex;
  //  //flex-direction: column;
  height: 100vh;

}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  border: none;
  background: transparent;
  &:focus {
    outline: none;
  }
}

.btn-transparent {
  background-color: transparent;
  border-color: transparent;

  &:hover, &:active, &:focus {
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
  }
}

.user-info {
  position: fixed;
  bottom: 3rem;
  left: 2rem;
  z-index: 2;
}

header > time {
  font-size: 3.4em;
  font-weight: 300;
}