main {

	background-size: cover !important;
	background-position: 50% !important;

	padding-top: $header-height;
	min-height: 100vh;

	overflow: scroll;
	//overflow-y: hidden;
	white-space: nowrap;

	padding-right: 8em;

  &.app-theme-light {
    background: url('../img/bg.png');
  }
  &.app-theme-dark {
    background: url('../img/bg-dark.jpg');
    color: #fff;
  }

  @include media-breakpoint-down(sm) {
		padding: 6em 1em;
		display: flex;
		overflow: auto;
		flex-direction: column;
	}
}
