.paper-content-holder {
  background: url(../img/paper-background.jpg);
  margin: 6em 0;
  box-shadow: 0 0 12px 2px #4b626d;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2em;
}